<div>
    <span>カテゴリ</span>
</div>

<ul>
    <li>
        <a href="">
            <span>(すべて)</span>
        </a>
        <span>(181)</span>
    </li>
</ul>

<ul>
<li>
    <span>
        <a href=""><img src="" alt="開く" /></a>
        <a href=""><img src="" alt="閉じる" /></a>
    </span>
    <a href="">
        <span>テーマチャット</span>
    </a>
    <span>(1)</span>
</li>
</ul>
<ul>
<li>
    <span>
        <a href=""><img src="" alt="開く" /></a>
        <a href=""><img src="" alt="閉じる" /></a>
    </span>
    <a href="">
        <span>ダイレクトチャット</span>
    </a>
    <span>(177)</span>
</li>
</ul>


<div>
            <a href=""><img src=""/><span>テーマチャットを作成する</span></a>
</div>
<footer class="main-footer text-center">
    <strong>&copy;EBA Inc. 2013-<?=(new DateTime)->format('Y')?></strong>
</footer>