<?php $chat = new Chat;?>
<p><b>チャットダイレクト画面(サイボウズでメンバーをクリックした際は、ダイレクトチャット、グループチャットをクリックした時は、グループでやりとりする画面です。</b></p>
<?php require_once(LIBRARY.'Api/chat.php')?>
<?php require_once('chat_top_list.html')?>
<div class="bodyAreaWrapper">
    <div class="contentsFrame selfclear">
        <div class="chatRoomWrapper">
          <!-- data属性の検証の必要あり -->
            <div class="chatRoom" data-contentConfirmed="true">
                <div class="chatRoomHeader">
                  <!-- テーマチャットがある時は、別テンプレートを読み込ませる -->
                  <?php $theme_chat = (!empty($_GET['theme_chat']) ? $_GET['theme_chat'] : null)?>
                  <?php if(!empty($theme_chat)):?>
                  <?php require_once('chat_theme_list.html')?>
                  <?php endif;?>
                    <div class="title">
                        <div class="func">
                            <!-- <form action="/mpChat/outputTextDirect" method="POST">
                                <input type="hidden" name="chatRoomId" value="" />
                            </form> -->
                        </div>
                        <!-- お気に入り登録をしている時は、下記のように表示される -->
                        <!-- <a href="javascript:void(0);" data-url="/common/star/starTurnJsonDirect" id="cbaStar-MP_CHAT--2:15547680-" class="star">
                          <img src="" class="icon" alt="お気に入りを削除する" data-star="on" />
                        </a> -->
                        <!-- お気に入りされていない時は、下のように表示される                     -->
                        <a href="" class="star"><img src="" class="icon" alt="お気に入りに登録する" data-star="off" /></a>
                        <!-- メンバー名をセレクトできているかの確認 -->
                        <?php $group_chat_no = (!empty($_GET['group_chat_no']) ? $_GET['group_chat_no'] : null)?>
                        <?php $permisiion_member_no = $chat->selectPermissionGroupChatNo($group_chat_no)?>
                          <img src="" class="icon" /><span><?=$con->selectNo($permisiion_member_no)['member_name']?> さんとのチャット</span>
                    </div>
                </div>
                <div class="chatRoomBody">
                    <div class="chatRoomCommentListParts scrollable">
                        <div class="chatRoomCommentBlock"  data-createMemberId="1:884608" data-createMemberDisplayName="<?=$con->selectNo($permisiion_member_no)['member_name']?>">
                            <div class="createMemberIcon">
                                <img src="" class="icon" />
                                <!-- 自分の名前が表示される -->
                                <div class="name">
                                    <a href="/mpConfiguration/profile/view" class="profileLb iconLink" id="profile_1:884608" title="<?=$con->selectNo($permisiion_member_no)['member_name']?>"><span class="name"><?=$con->selectNo($permisiion_member_no)['member_name']?></span></a>
                                </div>
                            </div>
                            <div class="commentItemList">
                                <div data-id="17601719" data-number="28" data-createDateInLong="1528346837000" class="commentItem  ">
                                    <div class="commentContents ">
                                        <div class="commentBody selfclear">
                                            <div class="commentBodyLeft">
                                                <div class="formatContents">
                                                    コメントが入ります。pタグは、サイボウズでは入らないみたいです。
                                                </div>
                                            </div>
                                            <p>自分で投稿した投稿の時は、下記が表示される</p>
                                            <div class="commentBodyRight">
                                              <div class="commentDelete operation hiddenOperation" style="display:none">
                                                <a href="#deleteComment_fid=17601719" class="iconLink delete" title="削除する">
                                                  <img src="" class="icon" alt="削除する" />
                                                </a>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="commentFooter operationParts selfclear">
                                            <div class="operation">
                                                <a href="javascript:void(0);" data-url="/tip/commentUrl?url=https%3A%2F%2Fcybozulive.com%2FmpChat%2Fview%3FchatRoomId%3D2%253A15547680%26fid%3D17601719" class="commentUrlTip" title="固定リンク">
                                                    <span>No.</span>
                                                    <span class="number">2</span>
                                                    <span class="createDate">2016/12/26(月) 9:08</span>
                                                </a>
                                                <span class="good">
                                                  <span data-url="/common/good/goodAjax" data-mode="SIMPLE" data-use-comet="TRUE">
                                                    <a href="javascript:void(0);" class="iconLink goodLinkOn" id="cbaGood-MP_CHAT-2:15547680-17601719-on" data-url="/comet/common/good/goodTurnJsonDirect">
                                                      <img src="" alt="" class="icon" />
                                                      <span>いいね！</span>
                                                    </a>
                                                  </span>
                                                  <span class="goodMemberCountParts" data-url="/common/good/goodMemberListAjax" style="display:none">
                                                    <a href="javascript:void(0);" class="goodMemberCount goodMemberListTip" data-url="/common/good/goodMemberListTip?application=MP_CHAT&amp;targetId=2%3A15547680&amp;subTargetId=17601719">0</a>
                                                    <span>件</span>
                                                  </span>
                                                </span>
                                                <a href="javascript:void(0);" id="chatRoomComment_28" class="replyChatRoomComment iconLink">
                                                  <img src="" alt="" class="icon" />
                                                  <span>返信</span>
                                                </a>
                                                <a href="javascript:void(0);" data-url="/common/star/starTurnJsonDirect" id="cbaStar-MP_CHAT--2:15547680-17601719" class="star iconLink" data-displayLabel="true">
                                                  <img src="" class="icon" alt="お気に入りに登録する" data-star="off" />
                                                  <span class="starLabel">お気に入り</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- chatRoomCommentBlockの閉じタグ -->
                        <!-- 相手の投稿だとdata-createMemberIdが2になっている -->
                        <div class="chatRoomCommentBlock" data-createMemberId="2:922494" data-createMemberDisplayName="深田 拓圭" data-chatRoomId="2:15547680">
                          <div class="createMemberIcon">
                            <img src="" width="24" height="32" style="padding:0px 4px 0px 4px;" alt="" class="icon" />
                            <div class="name">
                              <a href="/mpAddress/list?mid=2%3A922494" class="profileLb iconLink" id="profile_2:922494" title="深田 拓圭">
                                <span class="name">深田 拓圭</span>
                              </a>
                            </div>
                          </div>
                          <div class="commentItemList">
                            <div data-id="17697433" data-number="36" data-createDateInLong="1529040051000" class="commentItem  ">
                              <div class="commentContents ">
                                <div class="commentBody selfclear">
                                  <div class="commentBodyLeft">
                                    <div class="commentReply inReplyToBox">
                                      <span class="inReplyTo">
                                        <a href="javascript:void(0);" data-url="/tip/comment?fnum=35&amp;targetId=2%3A15547680&amp;application=MP_CHAT">
                                          <span class="replyLink">&gt;35</span>
                                        </a>
                                      </span>
                                    </div>
                                    <div class="formatContents">相手の人のコメントが入ります。 </div>
                                  </div>
                                  <div class="commentBodyRight">
                                    <div class="commentDelete operation hiddenOperation" style="display:none"></div>
                                  </div>
                                </div>
                                <div class="commentFooter operationParts selfclear">
                                  <div class="operation">
                                    <a href="javascript:void(0);" data-url="/tip/commentUrl?url=https%3A%2F%2Fcybozulive.com%2FmpChat%2Fview%3FchatRoomId%3D2%253A15547680%26fid%3D17697433" class="commentUrlTip" title="固定リンク">
                                      <span>No.</span>
                                      <span class="number">36</span>
                                      <span class="createDate">2018/6/15(金) 14:20</span>
                                    </a>
                                    <span class="good">
                                      <span data-url="/common/good/goodAjax" data-mode="SIMPLE" data-use-comet="TRUE">
                                        <a href="javascript:void(0);" class="iconLink goodLinkOff" id="cbaGood-MP_CHAT-2:15547680-17697433-off" data-url="/comet/common/good/goodTurnJsonDirect">
                                          <img src="" alt="" class="icon" />
                                          <span>いいね！</span>
                                        </a>
                                      </span>
                                      <span class="goodMemberCountParts" data-url="/common/good/goodMemberListAjax" >
                                        <a href="javascript:void(0);" class="goodMemberCount goodMemberListTip" data-url="/common/good/goodMemberListTip?application=MP_CHAT&amp;targetId=2%3A15547680&amp;subTargetId=17697433">1</a>
                                        <span>件</span>
                                      </span>
                                    </span>
                                    <a href="javascript:void(0);" id="chatRoomComment_36" class="replyChatRoomComment iconLink">
                                      <img src="" alt="" class="icon" />
                                      <span>返信</span>
                                    </a>
                                    <a href="javascript:void(0);" data-url="/common/star/starTurnJsonDirect" id="cbaStar-MP_CHAT--2:15547680-17697433" class="star iconLink" data-displayLabel="true">
                                      <img src="" class="icon" alt="お気に入りに登録する" data-star="off" />
                                      <span class="starLabel">お気に入り</span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- chatRoomCommentBlockの閉じタグ -->
                        <!-- 画像やtxtデータがある時の表示方法 -->
                        <div class="chatRoomCommentBlock" data-createMemberId="1:884608" data-createMemberDisplayName=" 牛島 淳史" data-chatRoomId="2:15547680">
                          <div class="createMemberIcon">
                            <img src="" width="24" height="32" style="padding:0px 4px 0px 4px;" alt="" class="icon" />
                            <div class="name">
                              <a href="/mpConfiguration/profile/view" class="profileLb iconLink" id="profile_1:884608" title="牛島 淳史">
                                <span class="name">牛島 淳史</span>
                              </a>
                            </div>
                          </div>
                          <div class="commentItemList">
                            <div data-id="19362721" data-number="49" data-createDateInLong="1542678071000" class="commentItem  ">
                              <div class="commentContents ">
                                <div class="commentBody selfclear">
                                  <div class="commentBodyLeft">
                                    <div class="formatContents">&nbsp;
                                      <div class="fileInfoList">
                                        <div>
                                          <div class="fileInfo">
                                            <a href="" class="iconLink download" title="ダウンロード">
                                              <span>テスト確認.txt</span>
                                            </a>
                                            <a class="textFilePreviewOpen" href="javascript:void(0);" data-url="/common/file/fileViewAjax?cid=1%3A2755763&amp;application=MP_CHAT&amp;targetId=2%3A15547680">
                                              <img src="" title="ファイル内容を表示する" alt="ファイル内容を表示する" class="icon" />
                                            </a>
                                            <span class="fileSize">( 1 KB )</span>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="fileInfoList">
                                        <div>
                                          <div class="imageContents">
                                            <a href="/common/file/fileView?cid=1%3A2755764&amp;application=MP_CHAT&amp;targetId=2%3A15547680" target="_blank" rel="noopener noreferrer">
                                              <img width="300" height="168" src="" data-url="/common/file/imageLb?cid=1%3A2755764&amp;application=MP_CHAT&amp;targetId=2%3A15547680&amp;width=800" data-width="800" alt="" />
                                            </a>
                                          </div>
                                          <div class="fileInfo">
                                            <a href="/mpCabinet/downloadFileByMpTargetDirect?cid=1%3A2755764&amp;application=MP_CHAT&amp;targetId=2%3A15547680" class="iconLink download" title="ダウンロード">
                                              <span>学んだことのストック機能.png</span>
                                            </a>
                                            <span class="fileSize">( 263 KB )</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="commentBodyRight">
                                    <div class="commentDelete operation hiddenOperation" style="display:none">
                                      <a href="#deleteComment_fid=19362721" class="iconLink delete" title="削除する">
                                        <img src="" class="icon" alt="削除する" />
                                      </a>
                                    </div>
                                  </div>
                                </div>
                                <div class="commentFooter operationParts selfclear">
                                  <div class="operation">
                                    <a href="javascript:void(0);" data-url="/tip/commentUrl?url=https%3A%2F%2Fcybozulive.com%2FmpChat%2Fview%3FchatRoomId%3D2%253A15547680%26fid%3D19362721" class="commentUrlTip" title="固定リンク">
                                      <span>No.</span>
                                      <span class="number">49</span>
                                      <span class="createDate">10:41</span>
                                    </a>
                                    <span class="good">
                                      <span data-url="/common/good/goodAjax" data-mode="SIMPLE" data-use-comet="TRUE">
                                        <a href="javascript:void(0);" class="iconLink goodLinkOn" id="cbaGood-MP_CHAT-2:15547680-19362721-on" data-url="/comet/common/good/goodTurnJsonDirect">
                                          <img src="" alt="" class="icon" />
                                          <span>いいね！</span>
                                        </a>
                                      </span>
                                      <span class="goodMemberCountParts" data-url="/common/good/goodMemberListAjax" style="display:none">
                                        <a href="javascript:void(0);" class="goodMemberCount goodMemberListTip" data-url="/common/good/goodMemberListTip?application=MP_CHAT&amp;targetId=2%3A15547680&amp;subTargetId=19362721">0</a>
                                        <span>件</span>
                                      </span>
                                    </span>
                                    <a href="javascript:void(0);" id="chatRoomComment_49" class="replyChatRoomComment iconLink">
                                      <img src="" alt="" class="icon" />
                                      <span>返信</span>
                                    </a>
                                    <a href="javascript:void(0);" data-url="/common/star/starTurnJsonDirect" id="cbaStar-MP_CHAT--2:15547680-19362721" class="star iconLink" data-displayLabel="true">
                                      <img src="" class="icon" alt="お気に入りに登録する" data-star="off" />
                                      <span class="starLabel">お気に入り</span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- chatRoomCommentBlockの閉じタグ -->
                  </div>
                  <!-- chatRoomCommentListPartsの閉じタグ -->
                  <?php
                    $con = new Db;
                    $chat = new Chat;
                    $account = new Account;
                  ?>
                  <!-- ここからループさせる -->
                  <?php foreach($chat->getAllDirectChatExchange($group_chat_no) as $direct_comment):?>
                    <div class="chatRoomCommentBlock">
                      <div class="createMemberIcon">
                        <img src="" class="icon" />
                        <!-- // 自分の名前が表示される -->
                        <div class="name">
                          <a href="/mpConfiguration/profile/view" class="profileLb iconLink" id="profile_1:884608" title="'.$con->selectNo($direct_comment['DIRECT_CHAT_EXCHANGE_CREATE_MEMBER_NO'])['member_name'].'">
                            <span class="name"><?=$con->selectNo($direct_comment['DIRECT_CHAT_EXCHANGE_CREATE_MEMBER_NO'])['member_name']?></span>
                          </a>
                        </div>
                      </div>
                      <div class="commentItemList">
                        <div data-id="17601719" data-number="28" data-createDateInLong="1528346837000" class="commentItem  ">
                          <div class="commentContents ">
                            <div class="commentBody selfclear">
                              <div class="commentBodyLeft">
                                <!-- //コメントが入る場所。サイボウズでは、pタグは入らないみたいです。 -->
                                <div class="formatContents"><?=$direct_comment['DIRECT_CHAT_EXCHANGE_COMMENT_TEXT']?></div>
                              </div>
                              <!-- //自分で投稿した投稿の時は、下記が表示される -->
                              <?php if($account->chkUpdatePermission($direct_comment['DIRECT_CHAT_EXCHANGE_CREATE_MEMBER_NO'],null)):?>
                              <div class="commentBodyRight">
                                <div class="commentDelete operation hiddenOperation" style="display:none">
                                  <a href="#deleteComment_fid=17601719" class="iconLink delete" title="削除する">
                                    <img src="https://cybozulive.com/static/49f5cdb4ca/images/delete_white14.png" class="icon" alt="削除する" />
                                  </a>
                                </div>
                              </div>
                              <?php endif;?>
                            <!-- //この内部にhtmlデータや画像がある時やcsvデータがある時などの設定や吐き出すhtmlなどを指定してあげる。 -->
                            </div>
                            <div class="commentFooter operationParts selfclear">
                              <div class="operation">
                                <a href="javascript:void(0);" data-url="/tip/commentUrl?url=https%3A%2F%2Fcybozulive.com%2FmpChat%2Fview%3FchatRoomId%3D2%253A15547680%26fid%3D17601719" class="commentUrlTip" title="固定リンク">
                                  <span>No.</span>
                                  <!-- // 表示番号を出力する -->
                                  <span class="number"><?=$direct_comment['DIRECT_CHAT_EXCHANGE_DISPLAY_NO']?></span>
                                  <span class="createDate"><?=$direct_comment['DIRECT_CHAT_EXCHANGE_INS_TS']?></span>
                                </a>
                                <!-- //いいねと件数を表示する -->
                                <span class="good">
                                  <span data-url="/common/good/goodAjax" data-mode="SIMPLE" data-use-comet="TRUE">
                                    <a href="javascript:void(0);" class="iconLink goodLinkOn" id="cbaGood-MP_CHAT-2:15547680-17601719-on" data-url="/comet/common/good/goodTurnJsonDirect">
                                      <img src="https://cybozulive.com/static/49f5cdb4ca/images/good14.png" alt="" class="icon" />
                                      <span>いいね！</span>
                                    </a>
                                  </span>
                                  <span class="goodMemberCountParts" data-url="/common/good/goodMemberListAjax" style="display:none">
                                    <a href="javascript:void(0);" class="goodMemberCount goodMemberListTip" data-url="/common/good/goodMemberListTip?application=MP_CHAT&amp;targetId=2%3A15547680&amp;subTargetId=17601719">
                                      <?=date('Y年m月d日 H時i分s秒', strtotime($direct_comment['DIRECT_CHAT_EXCHANGE_INS_TS']))?>
                                    </a>
                                    <span>件</span>
                                  </span>
                                </span>
                                <!-- //返信とお気に入りボタンなどを表示 -->
                                <a href="javascript:void(0);" id="chatRoomComment_28" class="replyChatRoomComment iconLink">
                                  <img src="https://cybozulive.com/static/49f5cdb4ca/images/reply14.png" alt="" class="icon" />
                                  <span>返信</span>
                                </a>
                                <a href="javascript:void(0);" data-url="/common/star/starTurnJsonDirect" id="cbaStar-MP_CHAT--2:15547680-17601719" class="star iconLink" data-displayLabel="true">
                                  <img src="https://cybozulive.com/static/49f5cdb4ca/images/star_off14.png" class="icon" alt="お気に入りに登録する" data-star="off" />
                                  <span class="starLabel">お気に入り</span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- //ログインユーザーに更新権限がある場合、削除ボタンの表示自分で投稿した投稿の時は、下記が表示される -->
                    <?php if($account->chkUpdatePermission($direct_comment['DIRECT_CHAT_EXCHANGE_CREATE_MEMBER_NO'],null)):?>
                      <a href="#delete" name="delete_chat_direct_comment" class="delete_comment_<?=$direct_comment['DIRECT_CHAT_EXCHANGE_NO']?>" >削除する</a>
                    <?php endif;?>
                  <?php endforeach;?>
                  <!-- ここまでループさせる -->

                  <!-- 投稿された際に入力エリアが新たに作成されるエリア -->
                  <div class="chatRoomCommentBlock"></div>
                    <!-- 下記のような表示を誰かに押してもらう -->
                    <div class="newCommentAnnouncement" style="display:none">
                      <div>新着コメントあり</div>
                    </div>
                    <div class="unconfirmedExistsAnnouncement" style="display:none">
                      <div>新着コメントあり</div>
                    </div>
                </div>
                <!-- chatRoomBodyの閉じタグ -->
                <div class="chatRoomFooter">
                    <form method="post" name="chat_direct" enctype="multipart/form-data">
                        <div class="input textareaParts expand">
                                <div class="minTextareaParts selfclear">
                                    <div class="textareaWrapper">
                                     <textarea class="commonContent" name="GROUP_CHAT_EXCHANGE_COMMENT_TEXT" id="GROUP_CHAT_EXCHANGE_COMMENT_TEXT" placeholder="コメントを入力"></textarea>
                                    </div>
                                    <div class="functionButton">
                                        <!-- <button id="cba_mpChatSend"  name="direct_chat_create" class="submit">送信</button> -->
                                        <button id="direct_chat_create"  name="direct_chat_create" class="submit direct_chat_create">送信</button>
                                    </div>
                                </div>
                            <div class="expandedTextareaParts">
                                <div class="attachedFile" id="cba_mpChatAddFile">
                                <!-- 画像添付がある時は、下記のエリアにファイル画像エリアを追加する -->
                                <div class="attachedFileAddParts" id="ui-id-1"></div>
                                <div class="attachedFile">
                                    <div class="attachedFileAddWrapper">
                                        <div id="attachedFileAdd" class="attachedFileAdd">
                                            <a href="javascript:void(0);" class="fileadd iconLink" onclick="attachFileClick();"><img src="" alt=""/><span>添付ファイルを追加する</span></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- TODO 時間があれば実装する -->
                                <!-- <div class="sendOption">
                                <input type="checkbox"/><label for="cba_mpChatEnterSendOption">Enterで送信</label>
                                </div> -->
                            </div>
                            <?php $group_chat_no = (!empty($_GET['group_chat_no']) ? $_GET['group_chat_no'] : null)?>
                            <!-- value値は、基本残した状態でaに埋め込む -->
                            <input type="hidden" name="group_chat_no" value="<?=$group_chat_no?>" />
                            <!-- <input type="hidden" name="group_chat_no" value="1" /> -->
                        </div>
                    </form>
                </div>
                <div class="sideAreaWrapper">
                    <div class="sideArea scrollable">
                        <div class="contentsFrame">
                            <div class="chatRoomMemberListWrapper">
                                <div class="chatRoomMemberList contentsFrame">
                                    <div class="subTitle">
                                        <p>メンバー</p>
                                    </div>
                                    <div>
                                        <div class="chatRoomMember">
                                        <!-- <a href="" title="牛島 淳史"><img src=""/><span class="name">牛島 淳史</span></a> -->
                                        <a href="" title="<?=$con->selectNo($_SESSION['member_no'])['member_name']?>"><img src=""/><span class="name"><?=$con->selectNo($_SESSION['member_no'])['member_name']?></span></a>
                                        </div>
                                        <div class="chatRoomMember">
                                        <a href="" title="<?=$con->selectNo($permisiion_member_no)['member_name']?>"><img src=""/><span class="name"><?=$con->selectNo($permisiion_member_no)['member_name']?></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chatRoomAttachFileListWrapper">
                                <div class="chatRoomAttachFileList contentsFrame">
                                    <div class="subTitle">
                                        <p>添付ファイル</p>
                                    </div>
                                    <!-- ファイルをアップロードした時に最新の投稿のものが表示される -->
                                    <!-- <div class="chatRoomAttachFile">
                                      <a class="image" href="javascript:void(0);" data-url="/common/file/imageLb?cid=1%3A2755764&amp;application=MP_CHAT&amp;targetId=2%3A15547680&amp;thumbnail=false&amp;width=800" data-width="800" data-downloadUrl="/mpCabinet/downloadFileByMpTargetDirect?cid=1%3A2755764&amp;application=MP_CHAT&amp;targetId=2%3A15547680" target="_blank" rel="noopener noreferrer">学んだことのストック機能.png</a>
                                      <a href="/mpChat/view?chatRoomId=2%3A15547680&amp;fid=19362721" class="iconLink chevron">
                                        <img src="https://cybozulive.com/static/49f5cdb4ca/images/chevron.gif" class="icon" alt="" />
                                      </a>
                                    </div>
                                    <div class="chatRoomAttachFile">
                                      <a class="download" href="/mpCabinet/downloadFileByMpTargetDirect?cid=1%3A2755763&amp;application=MP_CHAT&amp;targetId=2%3A15547680">テスト確認.txt</a>
                                      <a href="/mpChat/view?chatRoomId=2%3A15547680&amp;fid=19362721" class="iconLink chevron">
                                        <img src="https://cybozulive.com/static/49f5cdb4ca/images/chevron.gif" class="icon" alt="" />
                                      </a>
                                    </div>
                                    <div class="chatRoomAttachFile">
                                      <a class="image" href="javascript:void(0);" data-url="/common/file/imageLb?cid=1%3A2439402&amp;application=MP_CHAT&amp;targetId=2%3A15547680&amp;thumbnail=false&amp;width=500" data-width="500" data-downloadUrl="/mpCabinet/downloadFileByMpTargetDirect?cid=1%3A2439402&amp;application=MP_CHAT&amp;targetId=2%3A15547680" target="_blank" rel="noopener noreferrer">0812123257.jpg</a>
                                      <a href="/mpChat/view?chatRoomId=2%3A15547680&amp;fid=17378234" class="iconLink chevron">
                                        <img src="https://cybozulive.com/static/49f5cdb4ca/images/chevron.gif" class="icon" alt="" />
                                      </a>
                                    </div>                                     -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
  // // 初期表示を表示する
  // window.onload = function(){
  //   // ページ読み込み時に実行したい処理
  //   //送信する時の登録用のオブジェクトを作成する
  //   var senddata = new Object();
  //   //登録するコメント本文を作成
  //   $('textarea.commonContent').each(function(){
  //     senddata[$(this).attr('id')] = $(this).val();
  //   });
  //   //登録するボタンの情報を作成
  //   $('button[name="direct_chat_create"]').each(function(){
  //     senddata[$(this).attr('id')] = $(this).val();
  //   });
  //   //グループチャット番号で検索する
  //   $('input:hidden[name="group_chat_no"]').each(function(){
  //     senddata[$(this).attr('name')] = $(this).val();
  //   });
  //   // Ajaxでのカテゴリの登録・削除
  //   $.ajax({
  //   type: "POST",
  //   url: "library/Api/chatDirect.php",
  //   data: senddata,
  //   }).done(function (senddata) {
  //     // $('div.chatRoomCommentBlock').after("<div id=\"new_direct_chat_comment_"+registerNum+"\"></div>");
  //     // $('div.chatRoomCommentBlock').after("<div class="chatRoomCommentBlock"></div>");
  //     // $('#new_direct_chat_comment_'+registerNum).html(senddata);
  //     $('.chatRoomCommentListParts').html(senddata);
  //   }).fail(function (XMLHttpRequest, textStatus, errorThrown){
  //     alert(errorThrown);
  //   });
  // }
// ##################################################
// ダイレクトチャット部分やり取り関係機能
// ##################################################
$(function() {

  //登録した際の投稿部分のカウント数
  var registerNum = 0;
  //登録処理をする際のajaxの記載
  $(document).on('click','button[name="direct_chat_create"]',function(e){
    e.preventDefault();
    //送信する時の登録用のオブジェクトを作成する
    var senddata = new Object();
    //登録するコメント本文を作成
    $('textarea.commonContent').each(function(){
      senddata[$(this).attr('id')] = $(this).val();
    });
    //登録するボタンの情報を作成
    $('button[name="direct_chat_create"]').each(function(){
      senddata[$(this).attr('id')] = $(this).val();
    });
    //登録するグループチャット番号を登録する
    $('input:hidden[name="group_chat_no"]').each(function(){
      senddata[$(this).attr('name')] = $(this).val();
    });

    // Ajaxでのカテゴリの登録・削除
    $.ajax({
    type: "POST",
    url: "library/Api/chatDirect.php",
    data: senddata,
    }).done(function (senddata) {
      // $('.chatRoomCommentBlock').after("<div id=\"new_direct_chat_comment_"+registerNum+"\"></div>");
      // $('#new_direct_chat_comment_'+registerNum).html(senddata);
      $('div.chatRoomCommentBlock').html(senddata);
      registerNum++;
    }).fail(function (XMLHttpRequest, textStatus, errorThrown){
      alert(errorThrown);
    });
  });
  //登録した投稿に関して返信をする際に必要
  $(document).on('click','a[id="reply_comment"]',function(){
    //返信した際のhtml要素を取得する
    var className = $(this).attr('class');
    var directExchangeList = className.split('_');
    //ダイレクトチャットの時の返信コメント番号
    var direct_chat_exchange_reply_comment_no = directExchangeList[2];
    //ダイレクトチャット時の表示番号
    var direct_chat_exchange_display_no = directExchangeList[3];
    //作成するhtmlタグを作成(返信したコメントとお気にいりやいいねや返信ボタンを表示させる)
    $('#reply_to').html(
      direct_chat_exchange_display_no+'へ返信する'
      +'<a href="javascript:void(0);" id="reply_cancel">×</a>'
      +'<input type="hidden" class="direct_chat_create" id="direct_chat_exchange_reply_comment_no" value="'+direct_chat_exchange_reply_comment_no+'">'
      );
  });
  //返信する時の処理
  $(document).on("click", 'a[id="reply_comment"]', function(){

      var className = $(this).attr("class");
      var arrayClass = className.split("_");

      var reply_to_board_comment_no = arrayClass[2];
      var board_comment_display_no = arrayClass[3];

      $('#reply_to').html(
          board_comment_display_no+'へ返信する'
          +'<a href="javascript:void(0);" id="reply_cancel">×</a>'
          +'<input type="hidden" class="register_board_comment" id="reply_to_board_comment_no" value="'+reply_to_board_comment_no+'">'
      );
  });
  //キャンセルを押した時の処理
  $(document).on("click", 'a[id="reply_cancel"]', function(){
      $('#reply_to').html(""
      );
  });

  //削除を押した時の処理
  $(document).on("click", 'a[name="delete_chat_direct_comment"]', function(){

      var className = $(this).attr("class");
      var arrayClass = className.split("_");

      //やり取りテーブルの主キーを取得する
      var direct_chat_exchange_no = arrayClass[2];

      var senddata = new Object();

      // 削除するカテゴリ情報を作成
      if(arrayClass[0]+'_'+arrayClass[1] == "delete_comment"){

          var delFlg = false;

          //削除する時にポップアップを表示する
          if(window.confirm('本当に削除してもよろしいですか？')){
              $("a."+className).each(function(){
                  senddata[$(this).attr("name")] = true;
                  senddata["DIRECT_CHAT_EXCHANGE_NO"] = direct_chat_exchange_no;

              })
              var delFlg = true;
          }

          //いいえが押されずにはいが選ばれた時は、削除して、もう一度リロードする
          if(delFlg){
              // Ajaxでのコメント削除
              $.ajax({
                  type: "POST",
                  url: "library/Api/chatDirect.php",
                  data: senddata,
                }).done(function(senddata) {
                  //TODO コメント削除の時の挙動
                }).fail(function(XMLHttpRequest,textStatus,errorThrown) {
                  alert(errorThrown);
                });
          }
      }
  });
});

  // ##############################################
  // 添付画像の処理を記載

  // ##############################################
  // TODO 番号のリセットなどを実装して、DB上で複数登録させる
  //カウンターを設定する
  var attachcount = 0;
  var deletecount = 0;
  //添付ファイルのボタンが押された際と削除した際の画像にファイル名を動的に与える為に必要
  var attachbox = document.getElementById('attachedFileAdd');

  //添付ファイルを追加するボタン
  function attachFileClick(){
    //添付ファイルを追加するを押した回数をカウントアップする
    attachcount++;
    var counter = attachcount;
    var test = document.getElementById('ui-id-1');

                //要素内の、最後の子要素の後ろ
                test.insertAdjacentHTML('beforeend',
                            '<div id="cba_commonAttachedFile'+ counter +'"'+'class="attachedFileParts" data-file-count="'+counter +'">'
                            // +'<input type="hidden" name="MAX_FILE_SIZE" value="26,214,400">'
                            +'<input type="file" size="30" name="file[]" class="inputFile"multiple>'
                            +'<span class="guide">(25MBまで)</span>'
                            +'<a href="javascript:void(0);" class="attachedFileList__delete attachedFileDeleteiconLink" onclick="deleteFileClick();">'
                            +'<img src="" alt class="icon">'
                            +'<span>削除</span>'
                            +'</a>'
                            +'</div>');
  }
  //添付ファイルを削除するボタン
  function deleteFileClick(){
    //削除ボタンをクリックした回数をカウントアップする
    deletecount++;
    // data_file_count--;
    //削除を押した時は、div毎消す
    var counter = deletecount;
    var test = document.getElementById('cba_commonAttachedFile'+counter);
    test.parentNode.removeChild(test);
  }
// ボタンをクリックしたら、styleにつける
//ボタンを開閉する時の処理(テーマチャット側)
function btnthemeClick(){
  var folderOpen = document.getElementsByClassName('folderThemeOpen');
  var folderClose = document.getElementsByClassName('folderThemeClose');
  var includeDirectory = document.getElementsByClassName('include_theme');
  for (var i=0;i<folderOpen.length;i+=1){
    folderOpen[i].style.display = "none";
  }
  for (var i=0;i<folderClose.length;i+=1){
    folderClose[i].style.display = "block";
  }
  for (var i=0;i<includeDirectory.length;i+=1){
    includeDirectory[i].style.display = "block";
  }
}
//ボタンを閉じる時の処理(テーマチャット側)
function btnthemeCloseClick(){
  var folderOpen = document.getElementsByClassName('folderThemeOpen');
  var folderClose = document.getElementsByClassName('folderThemeClose');
  var includeDirectory = document.getElementsByClassName('include_theme');
  for (var i=0;i<folderOpen.length;i+=1){
    folderOpen[i].style.display = "block";
  }
  for (var i=0;i<folderClose.length;i+=1){
    folderClose[i].style.display = "none";
  }
  for (var i=0;i<includeDirectory.length;i+=1){
    includeDirectory[i].style.display = "none";
  }
}
//ボタンを開閉する時の処理(ダイレクトチャット側)
function btnClick(){
  var folderOpen = document.getElementsByClassName('folderOpen');
  var folderClose = document.getElementsByClassName('folderClose');
  var includeDirectory = document.getElementsByClassName('include_direct');
  for (var i=0;i<folderOpen.length;i+=1){
    folderOpen[i].style.display = "none";
  }
  for (var i=0;i<folderClose.length;i+=1){
    folderClose[i].style.display = "block";
  }
  for (var i=0;i<includeDirectory.length;i+=1){
    includeDirectory[i].style.display = "block";
  }
}
//ボタンを閉じる時の処理(ダイレクトチャット側)
function btnCloseClick(){
  var folderOpen = document.getElementsByClassName('folderOpen');
  var folderClose = document.getElementsByClassName('folderClose');
  var includeDirectory = document.getElementsByClassName('include_direct');
  for (var i=0;i<folderOpen.length;i+=1){
    folderOpen[i].style.display = "block";
  }
  for (var i=0;i<folderClose.length;i+=1){
    folderClose[i].style.display = "none";
  }
  for (var i=0;i<includeDirectory.length;i+=1){
    includeDirectory[i].style.display = "none";
  }
}
</script>
<footer class="main-footer text-center">
    <strong>&copy;EBA Inc. 2013-<?=(new DateTime)->format('Y')?></strong>
</footer>
