<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="無料,グループウェア,プロジェクト,クラウド,PTA,イベント運営" />
    <meta name="description" content="サイボウズLiveは、グループチャットや掲示板、ファイル共有など、チーム運営に必要な機能がそろった「チームのためのグループウェア」です。すべて無料で利用できます。PTA、自治会、おやじの会、NPO、イベント運営、企業間プロジェクトなど、様々なシーンで利用できます。" />
    <meta http-equiv="Imagetoolbar" content="no" />
    <meta property="og:site_name" content="サイボウズLive" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="プロジェクトは情報共有で成功する : 無料コラボレーションツール サイボウズLive" />
    <meta property="og:image" content="https://cybozulive.com/static/49f5cdb4ca/images/og_image.png" />
    <meta property="og:description" content="サイボウズLiveは、グループチャットや掲示板、ファイル共有など、チーム運営に必要な機能がそろった「チームのためのグループウェア」です。すべて無料で利用できます。PTA、自治会、おやじの会、NPO、イベント運営、企業間プロジェクトなど、様々なシーンで利用できます。" />
    <meta property="og:url" content="https://cybozulive.com" />
    <link rel="stylesheet" type="text/css" href="https://cybozulive.com/static/49f5cdb4ca/css/common/base.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="https://cybozulive.com/static/49f5cdb4ca/css/common/common.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="https://cybozulive.com/static/49f5cdb4ca/css/common/lightbox.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="https://cybozulive.com/static/49f5cdb4ca/css/common/colorbox.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="https://cybozulive.com/static/49f5cdb4ca/css/error.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="https://cybozulive.com/static/49f5cdb4ca/css/syntaxHighlighter/shCore.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="https://cybozulive.com/static/49f5cdb4ca/css/syntaxHighlighter/shThemeDefault.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="https://cybozulive.com/static/49f5cdb4ca/css/common/print.css" media="print" />
    <link rel="stylesheet" type="text/css" href="https://cybozulive.com/static/49f5cdb4ca/css/newCss/design/standard.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="https://cybozulive.com/static/49f5cdb4ca/css/application/mpChat.css" media="screen,print" />
    <link rel="stylesheet" type="text/css" href="https://cybozulive.com/static/49f5cdb4ca/css/jquery.qtip.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="https://cybozulive.com/static/49f5cdb4ca/css/error.css" media="screen" />
    <link rel="start" href="/" title="home" />
    <link rel="apple-touch-icon" href="https://cybozulive.com/static/49f5cdb4ca/images/iphone/apple-touch-icon.png" />
    <title>テーマチャットの作成 - サイボウズLive</title>
    <link rel="shortcut icon" href="https://cybozulive.com/static/49f5cdb4ca/images/favicon.ico" />
    <script type="text/javascript">
<!--
var CbAries = window.CbAries || new Object();
if( ! CbAries.Global )
{
    CbAries.Global = new Object;
}

CbAries.Global.cybozuStatus = 200;
CbAries.Global.lastAccessDate = '';

CbAries.Global.setStatic = function( path, param ) {
    var result = 'https://cybozulive.com/static/49f5cdb4ca' + path + '';

    if( typeof param !== "undefined" ) {
        var match= new RegExp( "\\?" );
        if( ''.match( match ) ) {
            result += '&' + param;
        } else {
            result += '?' + param;
        }
    }

    return result;
};
CbAries.Global.setRelative = function( path, param ) {
    var result = '' + path + '';

    if( typeof param !== "undefined" ) {
        var match= new RegExp( "\\?" );
        if( ''.match( match ) ) {
            result += '&' + param;
        } else {
            result += '?' + param;
        }
    }

    var match= new RegExp( "\\?" );
    if( result.match( match ) ) {
        result += '&dummy=' + new Date().getTime();
    }
    else {
        result += '?dummy=' + new Date().getTime();
    }

    return result;
};
CbAries.Global.setAbsolute = function( path, param ) {
    var result = 'https://cybozulive.com' + path + '';

    if( typeof param !== "undefined" ) {
        var match= new RegExp( "\\?" );
        if( ''.match( match ) ) {
            result += '&' + param;
        } else {
            result += '?' + param;
        }
    }

    result = CbAries.Global.addDummyParam( result );

    return result;
};
CbAries.Global.setPortalRelative = function( path, param ) {
    var result = '' + path + '';

    if( typeof param !== "undefined" ) {
        var match= new RegExp( "\\?" );
        if( ''.match( match ) ) {
            result += '&' + param;
        } else {
            result += '?' + param;
        }
    }

    result = CbAries.Global.addDummyParam( result );

    return result;
};
CbAries.Global.addDummyParam = function( url )
{
    if( !url )
    {
        return url;
    }
    var match= new RegExp( "\\?" );
    if( url.match( match ) ) {
        url += '&dummy=' + new Date().getTime();
    }
    else {
        url += '?dummy=' + new Date().getTime();
    }
    return url;
};
CbAries.Global.isGw = false;
CbAries.Global.inline = true;
  CbAries.Global.newCss = false;
-->
</script>
  </head>
  <body class="mypage mpChat CHROME CHROME_69 ja  logined">
    <div class="globalNavi" data-interval="60">
      <table class="globalNavi__table">
        <tr>
          <th class="globalNavi__logo">
            <a href="/">
              <img src="https://cybozulive.com/static/49f5cdb4ca/images/newCss/globalNavi/brand-logo.png" alt="" />
            </a>
          </th>
          <td class="globalNavi__menu globalNavi__menu--group">
            <a href="javascript:void(0);" class="globalNavi__link globalNavi__link--menu globalNavi__link--groupware iconLink globalNavi__link--unselected" data-url="https://cybozulive.com/common/globalNavi/groupMenuAjax" data-type="group">
              <img src="https://cybozulive.com/static/49f5cdb4ca/images/newCss/globalNavi/icon-group.png" alt="" class="globalNavi__icon" />
              <span class="globalNavi__label">グループ</span>
              <span>
                <img src="https://cybozulive.com/static/49f5cdb4ca/images/newCss/globalNavi/sort-down.png" alt="メニューを開く" class="globalNavi__arrow" />
              </span>
            </a>
          </td>
          <td class="globalNavi__menu">
            <a href="/mpSchedule/calendarSwitch?ref=header" class="globalNavi__link globalNavi__link--menu globalNavi__link--mpSchedule iconLink globalNavi__link--unselected">
              <img src="https://cybozulive.com/static/49f5cdb4ca/images/newCss/globalNavi/icon-calendar.png" alt="" class="globalNavi__icon" />
              <span class="globalNavi__label">マイカレンダー</span>
            </a>
          </td>
          <td class="globalNavi__menu">
            <a href="/mpChat/list?ref=header" class="globalNavi__link globalNavi__link--menu globalNavi__link--mpChat iconLink globalNavi__link--selected">
              <img src="https://cybozulive.com/static/49f5cdb4ca/images/newCss/globalNavi/icon-chat.png" alt="" class="globalNavi__icon" />
              <span class="globalNavi__label">チャット</span>
            </a>
          </td>
          <td class="globalNavi__menu">
            <a href="javascript:void(0);" class="globalNavi__link globalNavi__link--account globalNavi__link--menu iconLink globalNavi__link--unselected" data-url="https://cybozulive.com/common/globalNavi/accountMenuAjax" data-type="account">
              <img src="https://cybozulive.com/static/49f5cdb4ca/images/newCss/globalNavi/icon-user.png" alt="" class="globalNavi__icon" />
              <span class="globalNavi__label">アカウント</span>
              <span>
                <img src="https://cybozulive.com/static/49f5cdb4ca/images/newCss/globalNavi/sort-down.png" alt="メニューを開く" class="globalNavi__arrow" />
              </span>
            </a>
          </td>
          <td class="globalNavi__menu--blank"></td>
          <td class="globalNavi__menu--notification">
            <a href="javascript:void(0);" class="globalNavi__link globalNavi__link--list globalNavi__link--update" title="新着情報" data-url="https://cybozulive.com/common/globalNavi/updateListAjax" data-type="update">
              <span class="unreadMark unreadMark--confirmed" style="display: none;">0</span>
              <img src="https://cybozulive.com/static/49f5cdb4ca/images/newCss/globalNavi/icon-bell.png" alt="新着情報" />
            </a>
          </td>
          <td class="globalNavi__menu--notification">
            <a href="javascript:void(0);" class="globalNavi__link globalNavi__link--list globalNavi__link--good" title="いいね！" data-url="https://cybozulive.com/common/globalNavi/goodListAjax" data-type="good">
              <span class="unreadMark" style="display: inline;">1</span>
              <img src="https://cybozulive.com/static/49f5cdb4ca/images/newCss/globalNavi/icon-good.png" alt="いいね！" />
            </a>
          </td>
          <td class="globalNavi__menu--notification">
            <a href="javascript:void(0);" class="globalNavi__link globalNavi__link--list globalNavi__link--star" title="お気に入り" data-url="https://cybozulive.com/common/globalNavi/starListAjax" data-type="star">
              <span class="unreadMark unreadMark--confirmed" style="display: inline;">2</span>
              <img src="https://cybozulive.com/static/49f5cdb4ca/images/newCss/globalNavi/icon-star.png" alt="お気に入り" />
            </a>
          </td>
        </tr>
      </table>
    </div>
    <div id="body">
      <div class="breadcrumb">
        <ul>
          <li>
            <a href="/">
              <span>ホーム</span>
            </a>
          </li>
          <li>
            <a href="/mpChat/list">
              <span>チャット </span>
            </a>
          </li>
          <li class='active'>テーマチャットの作成</li>
        </ul>
      </div>
      <div class="bodyArea full mpChatEntry">
        <div class="bodyAreaWrapper">
          <div class="contentsFrame">
            <form method="post" action="/mpChat/add" enctype="multipart/form-data" id="cba_mpChatForm">
              <div class="contentsTitle">
                <h2>
                  <img src="https://cybozulive.com/static/49f5cdb4ca/images/chat32.png" alt="チャット" class="icon" />テーマチャットの作成
                </h2>
              </div>
              <div class="fieldParts selfclear">
                <h3>タイトル
                  <span class="required">[必須]</span>
                </h3>
                <div class="title">
                  <input type="text" name="title" value="" size="50" maxlength="200" class="submitStop" />
                </div>
                <h3>メモ</h3>
                <div class="content">
                  <div>
                    <div class="textareaParts" id="cba_commonTextAreaContent_3334449659">
                      <div class="mode">編集モード:
                        <input type="radio" name="textType" value="plain" id="textTypePlain_3334449659" checked="checked" tabindex="-1" />
                        <label for="textTypePlain_3334449659">テキスト</label>
                        <input type="radio" name="textType" value="html" id="textTypeHtml_3334449659" tabindex="-1" />
                        <label for="textTypeHtml_3334449659">書式編集</label>
                        <input type="hidden" name="textTypeShadow" value="plain" />
                      </div>
                      <textarea class="noFocus commonContent" id="cba_commonContent_3334449659" rows="7" name="content"></textarea>
                      <textarea name="contentsShadow" tabIndex="-1" class="contentsShadow"></textarea>
                      <div class="contentsShadowDiv"></div>
                    </div>
                  </div>
                  <div class="attachedFile">
                    <!-- クリックしていない時は、空のdiv要素 -->
                    <div class="attachedFileAddParts"></div>
                    <div class="attachedFileAddWrapper">
                      <div class="attachedFileAdd" data-url="/common/file/addMpAjax" data-file-count="0" data-attach-number="0" data-next-attach-number="1">
                        <a href="javascript:void(0);" class="fileadd iconLink">
                          <img src="https://cybozulive.com/static/49f5cdb4ca/images/attachment16.png" alt="" class="clip icon"/>
                          <span>添付ファイルを追加する</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <h3>メンバー</h3>
                <div id="cba_mpChatAddress">
                  <div class="selfclear addressChoiceParts">
                    <table class="layout choiceParts" id="addressChoice">
                      <tbody>
                        <tr>
                          <td>
                            <div class="choiceTo">
                              <table class="layout">
                                <tbody>
                                  <tr>
                                    <td class="choicePartsBtn" id="addressOrder">
                                      <p>
                                        <a href="javascript:void(0);" class="orderTop noTabIndex">
                                          <img src="https://cybozulive.com/static/49f5cdb4ca/images/order_top20.gif" alt="top" />
                                        </a>
                                      </p>
                                      <p>
                                        <a href="javascript:void(0);" class="orderUp">
                                          <img src="https://cybozulive.com/static/49f5cdb4ca/images/order_up20.gif"alt="up" />
                                        </a>
                                      </p>
                                      <p>
                                        <a href="javascript:void(0);" class="orderDown">
                                          <img src="https://cybozulive.com/static/49f5cdb4ca/images/order_down20.gif" alt="down" />
                                        </a>
                                      </p>
                                      <p>
                                        <a href="javascript:void(0);" class="orderBottom">
                                          <img src="https://cybozulive.com/static/49f5cdb4ca/images/order_bottom20.gif" alt="bottom" />
                                        </a>
                                      </p>
                                    </td>
                                    <td class="choicePartsList" id="addressPick">
                                      <div class="fixedMemberList">
                                        <div class="selected">牛島 淳史 (a.ushijima@xxxcorp.jp) </div>
                                      </div>
                                      <select name="addressId" size="9" multiple="multiple" id="addressList" class="pickList">
                                        <option value="dummy">&nbsp;</option>
                                      </select>
                                    </td>
                                    <td class="choicePartsFunc button--choice">
                                      <p>
                                        <a href="javascript:void(0);" class="button--choice__operation choiceAdd" title="追加">
                                          <img src="https://cybozulive.com/static/49f5cdb4ca/images/arrow/left.gif" />
                                          <span>追加</span>
                                        </a>
                                      </p>
                                      <p>
                                        <a href="javascript:void(0);" class="button--choice__operation choiceDelete" title="削除">
                                          <span>削除</span>
                                          <img src="https://cybozulive.com/static/49f5cdb4ca/images/arrow/right.gif" />
                                        </a>
                                      </p>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </td>
                          <td class="choicePartsList isLinked">
                            <div class="searchPartsWrapper choiceSearch">
                              <input id="addressSearch" class="searchParts" type="text" name="addressSearchQuery" value="" placeholder="メンバー名で検索"/>
                              <img id="addressSearchIcon" class="icon searchIcon" src="https://cybozulive.com/static/49f5cdb4ca/images/btn_search16.png" alt="検索する">
                              </img>
                            </div>
                            <p id="addressType">
                              <input type="radio" name="choiceType" value="abclist" class="choiceType" id="cba_choiceTypeAbclist" />
                              <label for="cba_choiceTypeAbclist">五十音別</label>
                              <input type="radio" name="choiceType" value="groupware" class="choiceType" id="cba_choiceTypeGroupware" checked="checked" />
                              <label for="cba_choiceTypeGroupware">グループ別 </label>
                            </p>
                            <p>
                              <select size="1" id="addressGroup" class="choiceGroup"></select>
                            </p>
                            <select size="7" class="choiceList" multiple="multiple" id="addressChoiceList"></select>
                            <p class="guide">複数選択できます。</p>
                            <div class="choiceDetail">
                              <input type="button" value="メンバー情報の詳細 …" id="addressChoiceDetail" class="choiceDetail" />
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="displayParts">
                <h3>詳細設定</h3>
                <div>
                  <ul class="detailSetting">
                    <li>
                      <input type="checkbox" id="cba_mpChatModifiable" name="modifiable" value="on" />
                      <label for="cba_mpChatModifiable">登録者以外に、変更を許可する</label>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="operationParts">
                <div class="functionButton">
                  <input type="submit" name="czJzdHJ1dHMuQkFTRTY0X0ZPUk1BVDpzMnN0cnV0cy5BQ1RJT05fRVhQUkVTU0lPTj0lNDAlN0JtcENoYXRfYWRkQWN0aW9uLmRvQWRkJTdE" value="作成する" class="submit undblclick" />
                  <input type="submit" name="czJzdHJ1dHMuQkFTRTY0X0ZPUk1BVDpzMnN0cnV0cy5BQ1RJT05fRVhQUkVTU0lPTj0lNDAlN0JtcENoYXRfYWRkQWN0aW9uLmRvQ2FuY2VsJTdEJnMyc3RydXRzLkNBTkNFTD0=" value="キャンセルする" class="cancel back undblclick" />
                </div>
                <input type="hidden" name="org.apache.struts.taglib.html.TOKEN" value="a5cd9ac2-6c13-45d9-9d81-94901da3fbfa" id="cba_commonHiddenToken" />
              </div>
            </form>
          </div>
          <div class="btnBackHome">
            <span class="backLink">
              <a href="/mpChat/list">
                <img src='https://cybozulive.com/static/49f5cdb4ca/images/backlink20.gif' alt='戻る' class='icon' />
                <span>チャット へ</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <script>
            var require = {
            baseUrl: "https://cybozulive.com/static/49f5cdb4ca/js/src"
        };
        </script>
    <script src="https://cybozulive.com/static/49f5cdb4ca/js/require.js" data-main="../built/chat/entryMain" type="text/javascript"></script>
  </body>
</html>
